= semantic_form_for :parser, builder: ActiveAdmin::FormBuilder, url: { action: :grab } do |f|
  = f.inputs do
    = f.input :url
    = f.actions :submit, label: "Parse"
= button_to 'Dashboard', admin_dashboard_path, :method => :get

- if @images
  = semantic_form_for :parser, builder: ActiveAdmin::FormBuilder, url: { action: :parser_save } do
    - @images.each do |image|
      %p
        = image_tag(image[:src])
        = button_to 'Save', admin_parser_parser_save_path, params: {:remote_picture_url => image[:src]}
