- if current_page?(root_path)
  = render 'layouts/slider'
= render 'layouts/menu'
%section#categories.container
  .big_title
    .big_title_txt.montserrat_font Categories
    .text_und_big_title
      For ease of navigation, all images are divided into categories.
    .big_title_txt_separ.background_color
  .section_content.category_section
    .category_items
      - @categories.each do |category|
        .category_item.web.media.print
          = image_tag category.images.first.picture.small.url
          .category_item_info.text-center
            .category_item_title
              = category.name
            %i.category_item_sep.background_color
            .category_item_p
              = truncate("#{category.description}", length: 50)
            .category_item_btnblock
              %a.category_item_btn.background_color.linkz_transition{:href => category_path(category), :role => "button"} #{t('categories.index.show')}

  .fn_btn.montserrat_font
    .btn.btn-primary.btn-lg{ :href => new_category_path, :role => "button" } #{t('.add_new_category')}

  .pagination_block.montserrat_font
    = paginate @categories
