= render 'layouts/menu'
%section#form-container
  .big_title
    %a.button-back{ :href => categories_path }
      = image_tag "left.png", alt: "#{t('back_to_categories')}", size: "64x64"
    .big_title_txt.montserrat_font= t('adding_new_category')
    .text_und_big_title
      = t('name_description')
  = bootstrap_form_for @category, url: {action: "create"} do |f|
    -#= f.label :name
    = f.text_field :name
    %p
    -#= f.label :description
    = f.text_area :description
    %p
    = f.submit t('create'), :class => "btn btn-primary btn-lg"
