= form_with model: @category, url: {action: "create"}, html: {class: "nifty_form"} do |f|
  = f.label :name
  = f.text_field :name
  %p
  = f.label :description
  = f.text_area :description
  %p
  = f.submit t('.create')

= link_to t('.back_to_categories'), categories_url
