= render 'layouts/menu'
%section#categories.container
  .big_title
    %a.button-back{ :href => categories_path }
      = image_tag "left.png", alt: "#{t('.back_to_categories')}", size: "64x64"
    .big_title_txt.montserrat_font #{@category.name}
    .text_und_big_title #{@category.description}
    .category_follow
      - if @follow_owner
        = link_to category_follow_path(@category), method: :delete do
          = image_tag "unfollow.png", title: "UnFollow", size: "48x48"
      - else
        = link_to category_follows_path(@category), method: :post do
          = image_tag "follow.png", title: "Follow", size: "48x48"
      .text_und_big_title
        = @category.follows.count
    .big_title_txt_separ.background_color
  .section_content.category_section
    .category_items
      -if @images.exists?
        - @images.each_slice(5) do |image|
          - image.each do |img|
            .category_item.web.media.print
              %a{"data-title" => img.title, :href => image_path(img)}
                = image_tag img.picture.small.url

  .fn_btn.montserrat_font
    = link_to "#{t('.add_new_image')}", new_image_path(category_id: @category), :class => "btn btn-primary btn-lg"

  .pagination_block.montserrat_font
    = paginate @images
