%p
  %strong Title:
  = @category.name

%p
  %strong Description:
  = @category.description
%p
  = @category.follows.count
  = (@category.follows.count) == 1 ? 'Follower' : 'Followers'
%p
  - pre_follow = @category.follows.find { |follow| follow.user_id == current_user.id }
  - if pre_follow
    = button_to 'Unfollow', category_follow_path(@category, pre_follow), method: :delete
  - else
    = button_to 'Follow', category_follows_path(@category), method: :post

%p
  -if @images.exists?
    - @images.each_slice(4) do |image|
      %div
        .row
          - image.each do |image|
            %a.photo-hover{"data-title" => image.title, :href => image_path(image)}
              .photo-info
                .headline= image.title
                .line
                .desc= image.category.name
                .mask
              .photo-img
                = image_tag image.picture.small.url
              %p
                = image.likes.count
                = (image.likes.count) == 1 ? 'Like' : 'Likes'


%p
  = link_to 'Add new image', new_image_path(category_id: @category)
%p
  =link_to 'Go back', categories_path


= paginate @images
