= render 'layouts/menu'
%section#categories.container
  .big_title
    = link_to :back, class: "button-back" do
      = image_tag("left.png", size: "64x64")
    .big_title_txt.montserrat_font= t('top_categories_info')
    .text_und_big_title
      = t('top_categories_description')
    .big_title_txt_separ.background_color
  .section_content.category_section
    .category_items
      - @top_categories.each do |category|
        .category_item.web.media.print
          - if category.images.exists?
            = image_tag category.images.first.picture.small.url
          -else
            = image_tag "jpg.png", size: "200x200"
          .category_item_info.text-center
            .category_item_title
              = category.name
            .category_follows
              = image_tag "followers_index_page.png", title: t('followers')
              = category.follows.count
            %i.category_item_sep.background_color
            .category_item_p
              = truncate("#{category.description}", length: 50)
            .category_item_btnblock
              %a.category_item_btn.background_color.linkz_transition{:href => category_path(category),
              :role => "button"} #{t('show')}

