= form_with model: @image, url: { action: :create }, :html => { :multipart => true } do |f|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :category_id, :value => params[:category_id] #загрузка картинки в текущую категорию
  %p
    =f.label :title
    =f.text_field :title

  %p
    =f.file_field :picture
  -#%p
  -#  = f.label :category
  -#  = f.select :category_id, Category.all.collect { |x| [x.name, x.id] }, class:'form-control' # загрузка с возможностью выбора категории

  %p
    =f.submit t('image._form.upload')

  %p
    = link_to t('image._form.back_to_category'), category_path(id: params[:category_id])
