= image_tag @image.picture.normal.url


%h2 Image comment
- @image.comments.each do |comment|
  %p
    Commenter:
    = comment.commenter

  %p
    Comment:
    = comment.text

%p


= form_with( model: [ @image, @image.comments.build ], local: true) do |form|
  %p
    = form.label :commenter
    = form.text_field :commenter

  %p
    = form.label :text
    = form.text_area :text

  %p
    = form.submit

%p
  = link_to 'Back to category', category_path(@category_id)
