=render 'layouts/menu'
- if flash[:notice]
  .alert.alert-success= flash[:notice]
- if flash[:alert]
  .alert.alert-danger= flash[:alert]
%section#image.container
  .big_title
    .big_title_txt.montserrat_font #{@image.title}
    .like_items
      - if @like_owner
        = link_to image_like_path(@image), method: :delete do
          =image_tag "like.png", title: "UnLike"
      - else
        = link_to image_likes_path(@image), method: :post do
          =image_tag "unlike.png", title: "Like"
      .text_und_big_title
        = @image.likes.count
  .section_content.image_section
    .image_items
      = image_tag  @image.picture.normal.url, :title => "#{@image.title}"
    .comment_items
      #leave_comment
        .big_title_txt.montserrat_font
          Leave your comment
        .comments_form.text_und_big_title
          -if current_user
            = bootstrap_form_for([ @image, @image.comments.build ], local: true) do |form|
              = form.text_area :text
              = form.submit t('image._form.create_comment')
      #comments
        .big_title_txt.montserrat_font
          Comments list
        .text_und_big_title
          - @comments.each do |comment|
            %p
              = t('activerecord.attributes.comment.commenter')
              = comment.commenter
            %p
              = t('activerecord.attributes.comment.text')
              = comment.text
            %p
              .big_title_txt_separ.background_color
