- if flash[:notice]
  .alert.alert-success= flash[:notice]
- if flash[:alert]
  .alert.alert-danger= flash[:alert]


= image_tag @image.picture.normal.url
%p
  = @image.likes.count
  = (@image.likes.count) == 1 ? t('activerecord.models.like.one') : t('activerecord.models.like.many')
%p
  - if @like_owner
    = button_to t('activerecord.attributes.like.unlike'), image_like_path(@image), method: :delete
  - else
    = button_to t('activerecord.attributes.like.like'), image_likes_path(@image), method: :post


%h2 Image comment
- @image.comments.each do |comment|
  %p
    = t('activerecord.attributes.comment.commenter')
    = comment.commenter

  %p
    = t('activerecord.attributes.comment.text')
    = comment.text

%p

-if current_user
  = form_with( model: [ @image, @image.comments.build ], local: true) do |form|
    %p
      = form.label :commenter
      = form.text_field :commenter

    %p
      = form.label :text
      = form.text_area :text

    %p
      -#= recaptcha_tags
      = form.submit t('image._form.create_comment')

%p
  = link_to t('image._form.back_to_category'), category_path(@category_id)
