.menu_white1
  .navsticky
    %nav.navbar.navbar-topaz{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            = image_tag "logo.png", alt: "We are FACEit"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#about"}
                HELLO
                -#%b.caret    /one more arrow
              %ul.dropdown-menu
                %li
                  %a.linkz_transition{:href => "index.html"} Full Image Background
                %li
                  %a.linkz_transition{:href => "index_2.html"} Full Parallax Slider
                %li
                  %a.linkz_transition{:href => "index_3.html"} Full Video Background
                %li
                  %a.linkz_transition{:href => "index_4.html"} Full Animated Background
                %li
                  %a.linkz_transition{:href => "index_5.html"} Full Pattern Background
                %li
                  %a.linkz_transition{:href => "index_6.html"} Full Solid Background
            %li
              %a{:href => images_path } IMAGES
            %li
              %a{:href => images_path } COMMENTS
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#portfolio"}
                USER MENU
                -#%b.caret    /one more arrow
              %ul.dropdown-menu
                - if user_signed_in?
                  %li
                    %a.linkz_transition-item{:href => destroy_user_session_path, "data-method" => "delete"} #{t('devise.shared.links.sign_out')}
                  %li
                    %a.linkz_transition-item{:href => edit_user_registration_path} #{t('devise.shared.links.edit')}
                - else
                  %li
                    %a.linkz_transition{:href => new_user_session_path} #{t('devise.shared.links.sign_in')}
                  %li
                    %a.linkz_transition{:href => new_user_registration_path} #{t('devise.registrations.new.sign_up')}
                  %li
                    %a.linkz_transition{:href => user_facebook_omniauth_authorize_path} #{t('devise.shared.links.sign_in_with_provider')}
            %li
              %a{:href => "#contact"} CONTACT
            %li.nav-item
              -if I18n.locale == :ru
                =link_to('En', { locale: :en }, class: 'nav-link')
              -else
                =link_to('Ru', { locale: :ru }, class: 'nav-link')
