!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    -#%script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}/
    -#%script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title Gallery2


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    -#- if flash[:notice]
    -#  .alert.alert-success= flash[:notice]
    -#- if flash[:alert]
    -#  .alert.alert-danger= flash[:alert]
        / Main jumbotron for a primary marketing message or call to action
    %nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      / Brand
      %a.navbar-brand{:href => "#"} Logo
      / Links
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "#"} Link 1
        %li.nav-item
          %a.nav-link{:href => "#"} Link 2
        / Dropdown
        %li.nav-item.dropdown

          %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Dropdown link
          .dropdown-menu
            - if user_signed_in?
              %a.dropdown-item{:href => destroy_user_session_path, :method => :delete} Logout
              %a.dropdown-item{:href => edit_user_registration_path} Edit
            - else
              %a.dropdown-item{:href => new_user_session_path} Sign in!
              %a.dropdown-item{:href => new_user_registration_path} Sign up now!
              %a.dropdown-item{:href => user_facebook_omniauth_authorize_path} Sign in with Facebook

    = yield
    -#- if user_signed_in?
    -#  %p
    -#    %li= button_to "Logout", destroy_user_session_path, :method => :delete
    -#  %p
    -#    %li= link_to "Edit", edit_user_registration_path
    -#    -#%li= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete
    -#- else
    -#  %p
    -#    %li= button_to "Sign in!", new_user_session_path
    -#  %p
    -#    %li= link_to "Sign up now!",  new_user_registration_path
    -#  %p
    -#    %li= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path

