!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    - if user_signed_in?
      %p
        %li= link_to "Logout", destroy_user_session_path, :method => :delete
    - else
      %p
        %li= link_to "Sign in!", new_user_session_path
      %p
        %li= link_to "Sign up now!",  new_user_registration_path
